# dependencies
node_modules

# env
.env
.env.local
.env.production

# logs
logs
*.log
npm-debug.log*

# build
dist
build

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode

# Prisma
server/prisma/dev.db

# uploads
server/uploads

# coverage
coverage

# cache
.cache